:root{
    --main: rgb(146, 166, 255);

}

body{
    font-size: large;
}

nav {
    background: var(--main);
}

#logo{
    font-family:serif;
    font-size: xx-large;
}

.autor{
    color: gray;
    font-size: medium;
}

.dostupno{
  color: green;
  font-size: small;
}

  .modal-body{
    background-color: var(--main);
    color: white;
    border-radius: 5px;
  }

  .warning{
    color: var(--warning);
    background-color: #e8e8e8;
    border-radius: 25px;
    padding: 15px;
    width: auto;
    height: auto;
    width: fit-content;
  }

  .warning a{
    text-decoration: none;
    color: var(--warning);
  }