nav {
    background: rgb(146, 166, 255);
}

#logo{
    font-family:serif;
    font-size: xx-large;
}

.autor{
    color: gray;
    font-size: medium;
}

body{
    font-size: large;
}

.window{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: fit-content;
    width: fit-content;
    margin-top: 7px;
    margin-right: 10px;
    padding: 10px;
    background-color: var(--highlight);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transform: translate(-50%, -50%);
    z-index: 999;
    animation: fade-in 1s forwards;
    }
.window form {
    color: white;
    }
.window textarea{
    height: 32px;
    }