:root{
    --main: rgb(146, 166, 255);

}

body{
    font-size: large;
}

nav {
    background: var(--main);
}

#logo{
    font-family:serif;
    font-size: xx-large;
}

.autor{
    color: gray;
    font-size: medium;
}

.prozor{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: fit-content;
    width: fit-content;
    margin-top: 7px;
    margin-right: 10px;
    padding: 10px;
    background-color: var(--main);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transform: translate(-50%, -50%);
    z-index: 999;
    animation: fade-in 1s forwards;
    }
.prozor form {
    color: white;
    }
.prozor textarea{
    height: 32px;
    }

#pozadina {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  }

#rezultatiPretrage {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
}

#rezultatiPretrage ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#rezultatiPretrage li {
  padding: 10px;
  cursor: pointer;
}

#rezultatiPretrage li:hover {
  background-color: #f1f1f1;
}
